.item{
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% / 3);
    font-size: 16px;
    padding: 10px;
    text-align: center;
}
.item2{
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    font-size: 16px;
    padding: 10px;
    vertical-align: middle;
    position: relative;
    text-align: center;
}
.item2 p{
    text-align: left;
}
.wrapper{
    font-size: 0;
    border: 3px
    solid
    red;
    color: darkslategray;
}
h2{
    font-size: 22px;
}
h3{
    color: blue;
}
h4{
    font-size: 18px;
    text-align: left;
}
image{
    width: 100px;
}
section{
    margin:10px
}
body{
    font-family: 'Roboto', sans-serif;
}